.viewtrailer{
  min-height: 700px;
  background-size: cover;
  background-position:center;

  display: flex;
  align-items: flex-end;
}
.boton{
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reproductor{
  width: 100%;
  height: 600px;
}

input.buscar{
  color: #ffffff;
  background-color: #0d1015;
  border: 2px solid rgb(19, 13, 16);
  border-radius: 30px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f65e5e68;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-left: 620px;
}
input.buscar:hover{
  box-shadow: inset 400px 0 0 0 #fd151568;
  color: rgb(241, 240, 240);
  background-color: #0d1015;
}

.tittle{
  color: #f0f1f3;
  margin-left: 650px;

}

/*grid*/
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste dinámico */
  gap: 20px; /* Espaciado entre tarjetas */
  padding: 20px;
}

.movie-card {
  cursor: pointer;
  text-align: center;
  background: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05); /* Efecto de zoom */
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Ajuste para imágenes */
  border-radius: 10px;
}

.movie-card h4 {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
/*grid*/